@import 'tailwindcss';

@theme {
  --color-background: rgb(233, 235, 238);
  --color-foreground: rgb(31, 41, 55);

  --color-primary: rgb(152, 0, 238);
  --color-primary-foreground: rgb(255, 255, 255);

  --color-secondary: rgb(152, 0, 160);
  --color-secondary-foreground: rgb(255, 255, 255);

  --color-card: rgb(255, 255, 255);
  --color-card-foreground: var(--color-foreground);

  --color-popover: var(--color-card);
  --color-popover-foreground: var(--color-card-foreground);

  --color-border: rgb(229, 231, 235);
  --color-input-border: var(--color-border);

  --color-ring: rgb(166, 77, 255);

  /* Cores de Ação e Estado */
  --color-secondary: rgb(107, 114, 128);
  --color-secondary-foreground: rgb(255, 255, 255);

  --color-muted: rgb(243, 244, 246);
  --color-muted-foreground: rgb(107, 114, 128);

  --color-accent: var(--color-primary);
  --color-accent-foreground: var(--color-primary-foreground);

  --color-destructive: rgb(220, 38, 38);
  --color-destructive-foreground: rgb(255, 255, 255);

  /* Raio da Borda (Radius) */
  --radius: 0.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition-transform {
  transition-property: transform;
}
.duration-400 {
  transition-duration: 400ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-0 {
  transform: rotate(0deg);
}
.scale-0 {
  transform: scale(0);
}
.scale-100 {
  transform: scale(1);
}

@keyframes button-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-button-bounce {
  animation: button-bounce 0.3s ease-in-out;
}
